.client-details {
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: 1rem;
    margin-bottom: 1rem;
}

.information {
    .ant-descriptions-item {
        padding-bottom: 8px;

        .ant-descriptions-item-label {
            color: @text-color-secondary;
        }
    }
}

.statistics {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
